@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  /* border: 1px solid #000; */
}

.welcome {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("assets/bg_image (1).jpg") no-repeat center;
  background-size: cover;
  object-fit: cover;
}
.slogan , .discover_hero_slogan{
  font-family: "Deraga", sans-serif;
}
.visitors .visitor-member {
  gap: -8px;
}

.category-btn::-webkit-scrollbar {
  display: none;
  
}

.card-villas,
.card-resorts {
  overflow-x: auto;
  scrollbar-width: none; /* Add this */
}

.card-villas::-webkit-scrollbar .card-resorts::-webkit-scrollbar {
  display: none; /* Add this */
}

.hamburger_menu.active span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  margin-top: 12px;
}

.hamburger_menu.active span:nth-child(2) {
  transform: rotate(-45deg);
  margin-bottom: 8px;
}

.running-text {
  animation: running 10s infinite linear;
}

@keyframes running {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 600px) and (max-width: 640px) {
  :root {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 2.55vw;
  }
  .card_discover_villa {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 520px) {
  :root {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 430px) {
  :root {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 350px) {
  :root {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 290px) {
  :root {
    font-size: 3.7vw;
  }
}

/* HD (1366x768 piksel) */
/* @media screen and (min-width: 1366px) and (max-width: 1599px) {
  :root {
    font-size: 1.1vw;
  }
} */

/* Full HD (1920x1080 piksel) */
/* @media screen and (min-width: 1600px) and (max-width: 1919px) {
  :root {
    font-size: 1.1vw;
  }
} */

/* Quad HD (2560x1440 piksel) */
/* @media screen and (min-width: 1920px) {
  :root {
    font-size: 1.1vw;
  }
} */
